$color--main-background: #394951;
$color--background-2: #9aa5aa;
$color--background-3: #fafafa;

$color--headline-1: #ff8673;
$color--headline-2: #9d5c5f;
$color--headline-3: #ffaf89;

$color--paragraph-1: #f0f0f0;

$color--links: #eaddd9;

$color--footer: #2d3039;

$font-stack-1: "Poppins", sans-serif;
$font-stack-logo: "Unica One", cursive;
